<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="projeto_validacao"
			 providerName="Microsoft.Data.SqlClient"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=projeto_validacao;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>